
27 lines (19 sloc) 1.12 KB
<html>

    <head>
    
                <title>DOT M</title>
                
    </head>
  
  
    <body style=background-image:url({{url_for('static' , filename = 'unnamed.jpg')}})>
                <div style=width:60%;background:#cccccc;left:0;right:0;border-radius:15px;margin-right:auto;margin-left:auto;padding:20px;>
                <center><img src = {{url_for('static' , filename = 'sabertechnologies.png')}}></center>
                    <div style=background:#fff;border-radius:15px;padding:10px;>
                        <center><h1 style=color:#000;border-radius:5px; >DOT M</h1></center>
                        <h3>HELP :</h3>
                                                     
                             DISPLAY :
                                     <p><b>display.M(text/@var)</b></p>
                                     <p>Displays The Desired Text / Variable On The Output Screen</p>
                                     <p>Example : display.M(Hi)</p><br>
                        
                             ADD :
                                     <p><b>add.M(@a , @b)</b></p>
                                     <p>Adds Two Numbers And Prints the Result</p>
                                     <p>Example : add.M(5 , 6)</p><br>
                        
                             SUBTRACT :
                                     <p><b>sub.M(@a , @b)</b></p>
                                     <p>Subtracts Two Numbers And Prints the Result</p>
                                     <p>Example : sub.M(9 , 3)</p><br>
                        
                             MULTIPLY :
                                     <p><b>mul.M(@a , @b)</b></p>
                                     <p>Multiply Two Numbers And Prints the Result</p>
                                     <p>Example : mul.M(2 , 4)</p><br>
                        
                             DIVIDE :
                                     <p><b>over.M(@a , @b)</b></p>
                                     <p>Divides Two Numbers And Prints the Result</p>
                                     <p>Example : over.M(6 , 2)</p><br>
                        
                             VARIABLE DECLARATION :
                                     <p><b>var.M(@a)</b></p>
                                     <p>Declares A Variable And Sets Its Value To 0</p>
                                     <p>Example : var.M(@saber)</p><br>
                        
                             EQUALS :
                                     <p><b>equals.M(@a , number/text)</b></p>
                                     <p>Sets A Value To A Variable</p><br>
                                     <p>Example : equals.M(@hi , Hello)</p><br>
                        
                             LOOP :
                                     <p><b>times.M(@n , code)</b></p>
                                     <p>Executes The Argument n Number Of Times</p>
                                     <p>Example : times.M(5 , display.M(Hi) add.M(4 , 6))</p><br>
                                        
                        
                  </div>
       
                </div>
    </body>
  
</html>
