<html>

    <head>
    
                <title>DOT M</title>
                
    </head>
  
  
    <body style=background-image:url({{url_for('static' , filename = 'unnamed.jpg')}})>
                <div style=width:60%;background:#cccccc;position:fixed;left:0;right:0;border-radius:15px;margin-right:auto;margin-left:auto;padding:20px;height:93%;>
                <center><img src = {{url_for('static' , filename = 'sabertechnologies.png')}}></center>
                    <div style=background:#fff;border-radius:15px;padding:10px;>
                        <center><h1 style=color:#000;border-radius:5px; >DOT M</h1></center>
                        <h3>Enter Your Program :</h3>
                        <form action = '/output'  method="post" >
                            <textarea type = "Text" name = "program" style="width:100%; height:500px;"></textarea><br>
                            <center><input type="Submit" value='Run'></input></center>
                        </form>
                    </div>
                        <a href={{url_for('help')}}>HELP</a>
        
                </div>
    </body>
  
</html>
